[2021-04-20 19:28] rtwld opened #1 "Slack integration documentation"
The app works great with email/phone! I couldn't get the Slack integration to work though. Could the developer give instructions on how to set up the Slack integration?

For example, where does one get the `slackBotApiToken`? `xoxb-*` seems to be a [Bot user token](https://api.slack.com/authentication/token-types#bot). Does the user have to create a bot to integrate impf-bot with Slack?

A slightl

[2021-04-20 20:47] TobseF commented on #1
Oh... good to know that there are other impf-bot user out there 😉 - And it may also help others with this pain
To make the Slack setup more transparent I added an additional `SLACK_SETUP.md`:
### 🤖🛠 SlackBot Setup
https://github.com/TobseF/impf-bot/blob/master/doc/slack_setup/SLACK_SETUP.md

[2021-04-21 08:07] rtwld commented on #1
Yeah, it's seems impf-bot is the only functioning bot on github. Thanks for the Slack setup!

[2021-04-21 08:07] #1 closed, assigned to TobseF

[2021-04-21 09:05] rtwld opened #2 "Error message on webpage triggers "found free vaccinations dates""
The situation is the following: Impfbot searches for free appointments at a specific location with a _Vermittlungscode_.

The webpage throws an error "Es ist ein unerwarteter Fehler aufgetreten":

<img width="1200" alt="scrrn" src="https://user-images.githubusercontent.com/7947266/115526161-0bafe800-a290-11eb-9b13-531db3a1cfb5.png">

Impfbot, however, triggers a "found free vaccinations dates" eve

[2021-04-21 10:26] TobseF commented on #2
This "unerwarteter Fehler" never happened to me, so its not considered. Can be easily fixed by checking this warning box in addition. I event can't say what it means and what to do then. But for the bot and the whole process isn't  a big deal. You would get no email, and the bot would try to book this event an the next try again.

[2021-04-24 23:37] fabstu opened #3 "[Hint] How to use selenium Grid"
I had a little issues with Selenium, so I'm running selenium inside a docker container with [SeleniumHQ/docker-selenium](https://github.com/SeleniumHQ/docker-selenium). I simply started it with

    docker run -d -p 4444:4444 -v /dev/shm:/dev/shm selenium/standalone-chrome:4.0.0-beta-3-prerelease-20210422

You can see that it works by opening `http://localhost:4444/ui/index.html#/`.

Then I change

[2021-04-25 12:58] W357 commented on #2
I ran into the same issue. Chrome console prints "Failed to load resource: the server responded with a status of 429 (Too Many Requests)". I am trying to work around the rate limit but no success yet.

[2021-04-27 20:36] Rickeetz commented on #2
This error happens when the backend of the Impftermin site is overloaded and cannot process any requests.
Usally what follows is the Virtual waiting-room. just try it again later.

[2021-04-29 23:35] bluefish007 opened #4 "fillUserData(userData)"
I have a question about booking an appointment:

"fillUserData(userData)" from ImpfBot to ImpfPortal but where did the bot get my userData from? Can I set it somewhere? I have not found anything :/

[2021-04-30 00:21] bluefish007 commented on #2
same error and unfortunately every time a slack message with "found free vaccination dates..." but this is not true, it's a mistake :(

[2021-05-02 14:32] chim0rin opened #5 "Vermittlungscodes sind server- und nicht standortgebunden"
Hallo,

ich bin ein absoluter Noob, was Github angeht, möchte aber weiterhelfen. Dieser Post hier ist bestimmt auf der falschen Seite, verschiebe ihn einfach.

Ich habe durch Zufall herausgefunden, dass die Vermittlungscodes nicht standort-, sondern servergebunden sind. Der Vermittlungscode, der für "https://**005**-iz.impfterminservice.de/impftermine/service/7555**5**" gilt, gilt NICHT für "https

[2021-05-02 16:18] chim0rin opened #6 "Installing problems"
I have problems installing the ChromeDriver and Google Chrome.

Your program expects "chromedriver.exe" in
`C:\ProgramData\chocolatey\lib\chromedriver\tools`
whereas it is located at
`C:\tools\selenium\`.
A simple Copy&Paste solves this problem for me (At least I think so).

My second problem is Google Chrome. I can`t choose the directory it will be installed in, so Google Chrome installs itself i

[2021-05-02 17:32] madrhr commented on #5
Man läuft halt relativ schnell in die Bot Protection rein und bekommt einen 429 zurück und ist dann kurz geblockt. Das war zumindest immer meine Erfahrung wenn man direkt an die Rest-API dahinter ran geht

[2021-05-02 20:24] TobseF commented on #4
As for now the bot uses the "userData" from the `src/main/resources/config.properties` file which contains:

[code]

The last step isn't automated, so the "optional" path is the default. You get the notification and have 10min left to choose the right one and enter your private user data. Sorry for the misleading diagram. For me this was all I needed for my "Home Office" setup. On the booking page

[2021-05-02 20:32] madrhr commented on #5
Bzw. welchen request abfangen meinst du @chim0rin ?

[2021-05-02 20:34] TobseF commented on #6
The `chromedriver.exe` can be installed anywhere, because you can configure the path in the
`src/main/resources/config.properties`

[code]

In my setup Chrome ins installed in the default location in:
`C:\Program Files\Google\Chrome\Application\chrome.exe`
The `%USERNAME%\AppData` is only used If you install it without admin rights.
In this `Program Files` location the Chrome Driver find's Chrome

[2021-05-02 20:49] TobseF commented on #5
Als Ich den Bot gebastelt habe, hatte ich auch schon nach Alternativen recherchiert. Das hatte ich dann auch gesehen, dass andere Bots ne API verwenden aber wohl genau deshalb seit Anfang April aufgrund von Gegenmaßnahmen nicht mehr funktionieren. Ohne damit zu rechnen, dass es überhaupt klappt (keine Capteres oä.) war ich dann überrascht, dass es mit der Browser-Automation dann so zuverlässig und

[2021-05-03 06:39] lk3de commented on #5
@chim0rin mich würde ebenfalls interessieren, wie du die Server-Response abfängst und änderst. Nutzt du einen lokalen Proxy oder ähnliches?

[2021-05-03 08:56] lk3de commented on #5
Ich kann die Frage selbst beantworten: Mithilfe von [Fiddler Classic](https://www.telerik.com/fiddler/fiddler-classic) lässt sich (zumindest unter Windows) die Server-Response abfangen und verändern, bevor sie den Browser erreicht. Dazu in Fiddler über Tools -> Options -> HTTPS den Haken bei "Decrypt HTTPS traffic" setzen und die Meldungen abnicken - damit wird das Fiddler Root Zertifikat im Windo

[2021-05-03 09:33] SAMUD commented on #2
Had the same issue multiple times already this morning.
Took me a moment to figure out why I get the "found vacciation dates" slack message all the time.

Btw: thanks for this bot!!! Really usefull so far

[2021-05-03 10:06] SAMUD opened #7 "[Bug]Impfservice site goes to main page and bots thinks there are free vaccination dates"
Hi,

I'am running this software since this morning. From time to time I get this:

[code]

But when I go to the chrome Windows I see this:
![image](https://user-images.githubusercontent.com/10502656/116864203-c680a400-ac07-11eb-8758-88abd6a41d50.png)

Whats going on here?

[2021-05-03 10:18] lk3de commented on #7
Sometimes, after you enter the Vermittlungscode and click on "Termin buchen", the system just forwards you back to the home page - for whatever reason, I also couldn't figure it out yet. It even happens sometimes if you click the official "Termine buchen" link from the email that contains your Vermittlungscode.

Can probably fixed inside of `searchForVaccinateDate()`, by checking if the button tha

[2021-05-03 10:42] SAMUD commented on #7
Hmm......
The code is running since around 9 oclock this morning and I had about 5 of those events happen so far.

I know nothing about Kotlin, so I am going to leave this for someone more experienced to fix :)

[2021-05-03 10:49] Fakeyboy11 commented on #5
Hey das ist ja super, vielen Dank fürs Teilen der Fiddler Lösung, auch wenn es ja leider nichts bringt, da man ja wirklich nur ein Code braucht um alle Standorte abzutesten solange man auf dem selben Server bleibt. Wenn ich die Automatisierung laufen lasse, habe ich manchmal das Problem, dass er nicht den 229-iz Server nimmt sondern z. B. 02-iz und dann steht da, dass der Vermittlungscode ungültig

[2021-05-03 13:32] chim0rin commented on #5
Genau so habe ich es gemacht :)
Bzw. mit Rules --> Automatic Breakpoints --> After Responses

[2021-05-03 13:57] lk3de commented on #5
Jedem Impfzentrum ist Anbieter-seitig ein bestimmter Server zugewiesen: https://www.impfterminservice.de/assets/static/impfzentren.json (vermutlich wegen Load Balancing)
Ich könnte mir vorstellen, dass das Frontend während der Browser-Automatisierung grundsätzlich auf den "zugehörigen" Server wechselt und es deswegen bei dir kollidiert?

[2021-05-03 14:04] Fakeyboy11 commented on #5
Du hast Recht, das steht ja in der Json Datei, habs komplett übersehen, danke für den Hinweis. Das zusammen mit dem Tip wie man die Codes generieren kann ist wirklich hilfreich. Leider gibt's einfach keine Termine.

[2021-05-03 14:24] madrhr commented on #5
Loadbalancing 1998 style

[2021-05-03 17:05] PadPlay opened #8 "Gradle-Run-Error"
Recently got this error. Is there any way of fixing it? Thanks in advance.

![grafik](https://user-images.githubusercontent.com/68967110/116907840-6ce99b00-ac42-11eb-9524-870073cdb31a.png)

[2021-05-03 18:58] bluefish007 commented on #5
Vorher waren Wartungsarbeiten.

<img width="1041" alt="Bildschirmfoto 2021-05-03 um 20 57 36" src="https://user-images.githubusercontent.com/72299469/116919911-44699d00-ac52-11eb-8559-7f3799de7fa0.png">

Bei mir funktioniert das Abfangen und Abändern nicht mehr. Geht's bei euch noch?

[2021-05-03 19:10] madrhr commented on #5
Geht noch, aber nach den Wartungsarbeiten wurde die Anzahl der Warteräume gefühlt dramatisch hochgefahren

[2021-05-03 19:17] bluefish007 commented on #5
okay, danke für die Rückmeldung. Dann versuche ich es heute Nacht nochmal. Vielleicht sind dann die "Warteräume" nicht so gefüllt. :)

[2021-05-03 19:58] madrhr commented on #7
check on devtools if you got HTTP 429 back, sometimes you get blocked radomly

[2021-05-03 20:58] TobseF commented on #8
I pushed an updated version with support for Gradle 7.0. This was possible because of the new [shadow plugin](https://github.com/johnrengelman/shadow) release. Check it out.

Anyway, during setup, the `gradlew` script should install the Gradle version which is configured in the `gradle-wrapper.properties`. If you have another version installed than
[code]
delete the `.gradle` folder and run the `g

[2021-05-03 21:43] superflo22 commented on #8
Im using Gradle 7.0 and Unix.
Getting the same error:
`Driver info: driver.version: ChromeDriver
        at org.openqa.selenium.remote.service.DriverService.waitUntilAvailable(DriverService.java:202)
        at org.openqa.selenium.remote.service.DriverService.start(DriverService.java:188)
        at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:79)

[2021-05-03 22:22] superflo22 commented on #8
Turns out switching from Chrome to Chromium will solve the time out. Somehow Chrome crashed because of some VAAPI libary (ERROR:vaapi_wrapper.cc(1067)).

[2021-05-04 06:53] SAMUD commented on #5
Gefühlt klappt es glaube ich morgens am besten. Gestern morgen einen Termin bekommen und heute morgen die restlichen zwei die ich noch gebraucht habe. Dazwischen war nix.

Mit der Methode mit Fiddler und dann dem Bot ist das echt super. Am besten noch den Bot mit Slack verbinden, Slack aufs Handy und dann hat man die Benachrichtigung direkt an der Smartwatch sobald man zum PC rennen muss.

[2021-05-04 13:05] madrhr opened #11 ""Es ist ein unerwarteter Fehler aufgetreten" [Bot Protection?]"
Seit heute ist glaube ich die Bot Protection nochmal massiv hochgefahren worden. Aktuell hält mein Bot ca. 20min durch bevor ich nach der Eingabe der Codes die im Titel genannte Nachricht erhalte und die Abfrage im Hintergrund einen 429 erhält (Too many requests). Frische, neue IP-Adressen verlängern dies mittlerweile auch nicht mehr. Würde es Sinn falls die Meldung kommt dem ganze automatisch 30m

[2021-05-04 14:50] SAMUD commented on #11
Ich habe das Problem auch gehabt. So nach 45min oder auch schneller als ich mal die Pausenzeit auf 5sec runter geschraubt habe.
Halbe Stunde warten und dann geht's wieder.

[2021-05-04 16:30] sirhc1893 opened #12 "gradle run error"
Hi,

i got the following exception. Im wondering about the path on this exception:
"C:\impf\      oolsseleniumchromedriver.exe"

![image](https://user-images.githubusercontent.com/83662340/117037189-7ccab300-ad06-11eb-9f93-4731ce05b554.png)

# Selenium Chrome Driver Settings
pathDriver = C:\tools\selenium
nameDriver = webdriver.chrome.driver
exeDriver = chromedriver.exe

[2021-05-04 16:35] c0rrre commented on #12
Change
pathDriver = C:\tools\selenium
To
pathDriver = C:/tools/selenium

I had the same and it worked for me

[2021-05-04 17:05] sirhc1893 commented on #12
Perfect! Thanks a lot :-)

[2021-05-04 19:57] #12 closed, assigned to nobody

[2021-05-04 20:01] TobseF commented on #11
Um möglichen Limits entgegen zu wirken, habe ich einige Timing Einstellungen in den Properties konfigurierbar gemacht. Außerdem wird nun auch der "Virtueller Warteraum" erkannt. Und dank dem Fix von @ncface wird nun auch das Fehlerfenster berücksichtigt.

[2021-05-04 20:04] #11 closed, assigned to TobseF

[2021-05-04 20:04] #8 closed, assigned to nobody

[2021-05-04 20:06] TobseF commented on #7
Um möglichen Limits entgegen zu wirken, habe ich einige Timing Einstellungen in den Properties konfigurierbar gemacht. Außerdem wird nun auch der "Virtueller Warteraum" erkannt. Und dank dem Fix von @ncface auch noch das Fehlerfenster berücksichtigt.

[2021-05-04 20:06] #7 closed, assigned to TobseF

[2021-05-04 20:06] #6 closed, assigned to TobseF

[2021-05-04 20:08] TobseF commented on #5
Die Timing Einstellungen sind nun auch in den Properties konfigurierbar und der "Virtueller Warteraum"  wind nun berücksichtigt.

[2021-05-04 20:08] #4 closed, assigned to TobseF

[2021-05-04 20:09] TobseF commented on #2
To counteract possible limits, I made some timing settings configurable in the properties. In addition, the "Virtual Waiting Room" is now also recognized. And thanks to @ncface's fix, the error window is now also taken into account.

[2021-05-04 20:10] #2 closed, assigned to TobseF

[2021-05-05 10:32] real-or-random commented on #2
The HTTP request to `buchung` sometimes fails with 404 (can happen even after the timeouts), the "Terminsuche" overlay is never shown and the bot still believes that dates have been found. Only when you click "Termine suchen" again manually, you get another error message:

`<span _ngcontent-nfa-c124="" class="text-pre-wrap">SyntaxError: Unexpected token &lt; in JSON at position 1</span>` I guess t

[2021-05-06 06:07] benereich opened #16 "Leistungsmerkmale"
Wofür stehen denn die Leistungsmerkmale L920, L921, L922, L923 ? Sind die Vermittlungscodes an ein Merkmal gebunden? Im anderen offenen Issue wurde erwähnt L921 zu verwenden, passt das noch?

[2021-05-06 06:10] lk3de commented on #16
Siehe https://001-iz.impfterminservice.de/assets/static/its/vaccination-list.json

- L920 = Biontech für 16-17jährige
- L921 = Biontech oder Moderna für 18+
- L922 = AstraZeneca für 60+
- L923 = Johnson & Johnson für 18+

Mithilfe der Leistungsmehrkmale wird beim Anfordern eines Vermittlungscodes gesteuert, welche Impfstoffe in den Code "einkodiert" werden können.

[2021-05-06 06:12] benereich commented on #16
Vielen Dank :-)
Du warst so blitzschnell, ich konnte nichtmal das Issue schließen als ich gerade die `vaccination-list.json` selbst gefunden hatte 😆

[code]

[2021-05-06 06:12] #16 closed, assigned to nobody

[2021-05-06 20:00] sirhc1893 commented on #2
I have the same issues and tried to adjust the fix from @ncface with an 'or' statement on the unexpected token error.
But I think your right, the error only appears when you press the button manually..

[2021-05-07 07:38] LPTT opened #18 "bind() failed und Timeouts"
Sowohl mit dem Image von docker, als auch mit dem local build bekomme ich Timeouts.
Jemand einen Tipp, was schief läuft?

[code]

[2021-05-07 09:33] Pfuenzle commented on #18
Komisch, bei meinen Tests kam der Fehler nie auf.
Ich hab aber evtl. eine Idee, woran es liegen könnte, könntest du es bitte mal mit dem Image "pfuenzle/impf-bot:testfix" versuchen und schauen ob es damit geht?

[2021-05-07 09:53] LPTT commented on #18
leider nein.

jetzt kommt zwar:
Starting ChromeDriver 90.0.4430.24 (4c6d850f087da467d926e8eddb76550aed655991-refs/branch-heads/4430@{#429}) on port 26917
All remote connections are allowed. Use an allowlist instead!
Please see https://chromedriver.chromium.org/security-considerations for suggestions on keeping ChromeDriver safe.
ChromeDriver was started successfully.
May 07, 2021 9:46:55 AM org.op

[2021-05-07 10:33] mickare opened #19 "Only Windows User-Agents allowed"
Hi, it seems that only Windows User-Agents are able to get through the first steps.

Linux systems are blocked!

[2021-05-07 11:31] TobseF commented on #19
Is this vaccination booking really a system racist?
Added an option to manual set the user agent. Check it out, if it can solve your problem:
[code]

[2021-05-07 11:47] Pfuenzle commented on #18
Ok weiß jetzt nicht genau, woran der Fehler liegt, aber ich hab gerade einen neuen Dockercontainer mit GUI gemacht, damit sollte es das problem dann nicht mehr geben, ich mach gerade den Pull request fertig

[2021-05-07 11:47] Pfuenzle commented on #19
Linux Useragent is working fine for me, both in docker and on my main machine

[2021-05-07 11:49] TobseF commented on #2
Added an additional BookingPage check, to limit the false positives.

[2021-05-07 11:58] mickare commented on #19
I tried like 100 requests manually in Linux without any success. And just after 10 requests in Windows I got at least the age question. I know of at least of three other people who experienced the same, and Macs seems to be affected as well.

[2021-05-07 12:29] Pfuenzle commented on #18
Wäre nett, wenn du es mal ausprobierst, sobald die Pull request angenommen wurde und nochmal schreibst, ob damit alles geklappt hat

[2021-05-07 12:40] Pfuenzle commented on #19
Well I can only say that its working for me and one of my friends, both on Linux, but a option to change the useragent is always a good option

[2021-05-07 13:36] LPTT commented on #18
auf 127.0.0.1:5901 bekomme ich keine Verbindung, auf 172.17.0.1:5901 scheint er was zu finden, timed aber nach einer Weile aus. Das gleiche mit :6901 im Browser.
Ich teste heute abend mal noch auf einem anderen System.

[2021-05-07 13:53] Pfuenzle commented on #18
Hört sich so an, als hättest du dem Container die Ports nicht gegeben, füge Mal dem dockerbefehl
"-p 5901:5901 -p 6901:6901"
hinzu, dann sollte 127.0.0.1:6901 im Browser funktionieren

[2021-05-07 14:32] #18 closed, assigned to nobody

[2021-05-07 22:35] superflo22 opened #23 "Error slack is trying to authenticate but set to false in config"
`ERROR com.slack.api.methods.impl.TeamIdCache - Got an unsuccessful response from auth.test API (error: invalid_auth)`
getting this Error but disabled slack in the config. i guess somewhere is the check missing

[2021-05-08 09:20] schniggie commented on #23
I think i got a related issue:

config.properties:
[code]

And I get the following error, when a free seat has been found:
[code]

[2021-05-08 10:29] anp369 opened #24 "Docker image fails booting with error message"
When using the latest commit(c2f358d) I'm unable to get the bot working.
It throws an `IllegalStateException`. See the full log:

[code]

The docker command used was: ` docker run --name impf-bot -e VNC_PASSWORD=123 -it -p 6901:6901 --rm -v $PWD/config.properties:/app/src/main/resources/config.properties impfbot` where `impfbot` is the locally built docker image.
Did I make a mistake during buildi

[2021-05-08 10:50] schniggie commented on #24
Looks like `userAgent` is missing from your `config.properties`. Have a look [here](https://github.com/TobseF/impf-bot/blob/master/src/main/resources/config.properties),

[2021-05-08 10:51] Pfuenzle commented on #24
Seems like you need to add
`userAgent=default`
to your config file, as the bot is crashing because it can't find the userAgent value.

@TobseF maybe you should make it that these optional values like userAgent or the slack/telegram option do not necessarily have to be in the config file.

Currently, when they are not in there, the script is crashing even if they are not needed.  Cause of this, you

[2021-05-08 11:48] anp369 commented on #24
Thanks that did the trick. It works now

[2021-05-08 11:48] #24 closed, assigned to nobody

[2021-05-08 19:58] TobseF commented on #23
Should be solved by https://github.com/TobseF/impf-bot/commit/18eaa6cc26ae610427af21ebf71bf2d7d479a33e
Added a `readSmsFromSlack` property which enables the Slack feature to read a SMS. This is disabled on default.

In addition, all missing Boolean properties are threated as `false`.

[2021-05-08 19:58] #23 closed, assigned to nobody

[2021-05-09 16:35] fabstu commented on #3
Since there is a pure docker-based tutorial available, I'll close here because that is more complete.

[2021-05-09 16:35] #3 closed, assigned to nobody

[2021-05-10 08:30] error-empire opened #26 "Unable to watch the file system for changes after build successful message"
With current HEAD (18eaa6cc26ae610427af21ebf71bf2d7d479a33e) during `gradle build` I get the following output:
[code]

However I can start the app successfully via `gradle run`.
Setup is Windows 10, gradle 7.0, OpenJDK 15.0.1, ChromeDriver 90.0.4430.24, Chrome 90.0.4430.93.

I could not observe this behaviour last week with my ZIP download from 5th May, strange is that the exception also occurs no

[2021-05-10 09:02] error-empire commented on #26
Okay, this is obviously not an impf-bot issue:
https://github.com/gradle/gradle/issues/16802

I will close this issue.

[2021-05-10 09:02] #26 closed, assigned to nobody

[2021-05-10 10:25] schniggie opened #27 "Problem with Umlauts in Locations"
Using the docker version:

[code]

[code]

[2021-05-10 10:51] ncface commented on #27
Did you set file-encoding to UTF-8 when saving the config.properties?

Maybe these settings in DOCKERFILE do help:

\# Set the locale
RUN sed -i -e 's/# en_US.UTF-8 UTF-8/en_US.UTF-8 UTF-8/' /etc/locale.gen && \
    locale-gen
ENV LANG en_US.UTF-8
ENV LANGUAGE en_US:en
ENV LC_ALL en_US.UTF-8

[2021-05-10 11:34] beastyrabbit commented on #27
Hi I got the same Problem running without Docker.

[2021-05-10 12:47] schniggie commented on #27
The file-encoding is fine:

[code]

But your suggestion fails:

[code]

The final solution:

[code]

Will test it for some runs and then submit a PR.

[2021-05-10 14:21] Pfuenzle commented on #27
I'm currently not at Home, so I'm unable to test it,
but I think it would be better if this is going to get fixed in the bot itself if it is also happening there

[2021-05-10 14:23] madrhr commented on #27
Just remove the location names, the zip code is enough to find the according location in the list

[2021-05-10 19:42] madrhr opened #29 "JSON response bei rest/login?plz="
Mal eine Frage, bei dem Request an xyz.impfterminservice.de/rest/login?plz=%plz% habe ich beobachtet, dass man diese Response (siehe unten) erhält. Jemand eine Idee für was "kv" und "verknuepft" (qualifikationen ist mir klar, die Kategorien für welchen Impfstoff man geeignet ist)?

{"kv":"52","qualifikationen":["L921"],"verknuepft":true}

[Bitte als Diskussion markieren oder entfernen falls unerwü

[2021-05-10 21:19] #27 closed, assigned to nobody

[2021-05-10 21:20] #19 closed, assigned to TobseF

[2021-05-11 21:18] fabstu opened #31 "SyntaxError: Unexpected token < in JSON at position 1"
Hatte jemand anderes schonmal diesen Fehler beim suchen von Terminen? Das Termine Suchen Fenster Popup ist garnicht geöffnet. Sobald ich es öffne erscheint der Fehler oben. Heißt das das der Termin schon weg ist? Jedenfalls kommt dieser spezifische Fehler, weil er beim drücken von Termine Suchen die URL https://001-iz.impfterminservice.de/rest/suche/impfterminsuche?plz=xxxxx aufruft, was jedoch ht

[2021-05-11 22:31] fabstu commented on #31
Is probably due to taking too long, somehow closing the window automatically (which showed no dates available) and then checking for the message whether no dates were found or something.

[2021-05-11 22:31] #31 closed, assigned to nobody

[2021-05-12 06:52] prok42 opened #32 "CookieNagComponent funktioniert nicht wie gewünscht?"
Hi,

habe mir das Projekt gestern abend auf Stand Commit 3ac48d4c4a0a7f7645dfe483f028dfdf354bb6e6 gepullt und auf einer Windows 10 Maschine mit JDK 16, Gradle 7.01, Chrome 90 und passendem chromedriver eingerichtet.
Leider scheitert der Bot schon initial auf der Startseite von "impfterminservice.de/ipftermine", da er das gewünschte Impfzentrum nicht auswählen kann, weil es vom CookieBanner überdec

[2021-05-12 06:54] prok42 commented on #32
Fehlermeldung:

Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:17:03'
System info: host: 'MASCHINE', ip: '192.168.2.121', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.version: '16.0.1'
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 90.0.4430.212, chrome: {chromed

[2021-05-12 08:33] Pfuenzle commented on #32
Ist mir beim erstellen des Dockercontainers auch aufgefallen, der Bot funktioniert nur mit 1920x1080 (oder höher), da sonst das Cookiebanner verdeckt wird

[2021-05-12 08:37] jahill92 commented on #32
In das Problem bin ich auch gelaufen:
Die Cookies werden in der funktion checkLocation erst nach       mainPage.chooseLocation(location.name) akzeptiert.
Zieh den acceptCookies() aufruf davor dann passt es.
searchFreeDateByCode hat ein ähnliches Problem. Hier muss ein acceptCookies() vor             locationPage.enterCodeSegment0(code). Vorher mit val cookieNag = CookieNagComponent(driver) das obj

[2021-05-12 10:12] prok42 opened #33 "Falsche Erkennung von Terminen?"
Hallo zusammen,

heute morgen hatte ich es zweimal, dass der Bot bei hinterlegten Vermittlungscodes inkl. ServerId (Also Format` [XXXX-XXXX-XXXX](00X)`) der Meinung war, er hätte einen buchbaren Termin gefunden; der ferngesteuerte Browser zeigte aber lediglich den "Termine suchen"-Button an (also kein geöffnetes Overlay mit tatsächlichen Terminen drin). Bonus-Info: das Impfzentrum war zu dem Zeitp

[2021-05-12 10:25] Bergdoc commented on #2
I still get lot of false-positives when the page where the buttom "TERMINE SUCHEN" is loadable but when the click event happens the server is in "virtueller Warteraum". Does anyone have similar issues?
Since there is the bookingPage.isDisplayingVaccinationDates() check, I think there is something not working correctly? Any suggestions?

[2021-05-12 10:29] Bergdoc commented on #33
Bei mir ein ähnliches Bild, kann mir aber auch noch keinen richtigen Reim darauf machen (https://github.com/TobseF/impf-bot/issues/2#issuecomment-839660279)

[2021-05-12 10:46] madrhr commented on #33
@prok42 du beschreibt das Problem ziemlich gut, ist mir seit ein paar Tagen auch schon aufgefallen. Viel machen kann man da leider auch nicht außer vielleicht die Erkennung von freien Terminen verbessern.

Wenn man halt dann mal durch ist durch den Warteraum hat man meistens nicht mal 10min bis der Warteraum schon wieder für einen aktiv ist bzw. man wieder auf den Warteraum geleitet wird wenn man

[2021-05-12 11:48] prok42 commented on #33
Ist es denn mit Selenium möglich, die XHR Responses abzufangen? (Wäre ja irgendwie etwas widersinnig zum Konzept "man testet UI"), aber das wäre vmtl die sicherste Variante - entweder der XHR Request geht durch, es kommt ein JSON mit Terminen -> Termin gefunden, yay! oder eben: XHR Request hat als Response den Warteraum oder eine leere JSON Struktur -> nay

[2021-05-12 18:49] TobseF commented on #32
Dank @jahill92 sollte dass nun hiermit behoben sein: https://github.com/TobseF/impf-bot/commit/bebd1bd8bc843e3a41f48b6af6eed87a6f3321d0

[2021-05-12 18:49] #32 closed, assigned to nobody

[2021-05-12 20:43] fabstu opened #35 "deleted"
deleted

[2021-05-12 20:44] #35 closed, assigned to nobody

[2021-05-13 01:48] lucaleicht opened #36 "Gradle run error"
Hi,
i spend almost the whole night searching for the solution, reinstalled java, etc, but I still get this error with gradle run. Do you have an idea what to do?

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':run'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get

[2021-05-13 04:56] c0rrre commented on #36
Hi,
Could u post the logfile?
Please check the path to the chromedriver, that fixed it for me. Remember to use "/" in the path instead of "\"

[2021-05-13 08:16] lucaleicht commented on #36
I Used the "/" in the path, as shown in the other issue.

This log is shown: BUILD SUCCESSFUL in 7s
11 actionable tasks: 11 up-to-date
PS C:\Users\lucal\Desktop\impf-bot-master> gradle run

Starting ChromeDriver 90.0.4430.24 (4c6d850f087da467d926e8eddb76550aed655991-refs/branch-heads/4430@{#429}) on port 38409
Only local connections are allowed.
Please see https://chromedriver.chromium.org/securit

[2021-05-13 12:45] prok42 commented on #36
org.openqa.selenium.WebDriverException: unknown error: Failed to create Chrome process

Das sagt ja, dass er deinen Chrome nicht starten kann - kann also sein, dass das ein Rechteproblem ist, oder er den Browser nicht findet. Welche Chrome-Version nutzt du denn und wo ist er installiert?

[2021-05-13 16:20] lucaleicht commented on #36
Ja, so habe ich das auch verstanden. allerdings verstehe ich nicht, wieso. Die  chrome.exe liegt hier: C:\Program Files\Google\Chrome\Application
Version 90.0.4430.212 (Offizieller Build) (64-Bit)

Habe ich da etwas übersehen?

[2021-05-13 21:00] prok42 commented on #36
Hmm - da fällt mir auf die schnelle auch nix auf / ein.

Hast du mal das hier ausprobiert? (info/debug/scan)

Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

[2021-05-13 21:09] lucaleicht commented on #36
Ja, daraus werde ich aber auch nicht schlau. Was hättest du denn gern? dann lass ich es eben nochmal laufen....

[2021-05-13 21:14] lucaleicht commented on #36
Unter info wird klar, dass er das das Java nicht geladen bekommt. ich verstehe aber nicht wie ich das ändern kann.

C:\Users\lucal\Desktop\impf-bot-master>gradle run --info
Initialized native services in: C:\Users\lucal\.gradle\native
The client will now receive all logging from the daemon (pid: 12192). The daemon log file: C:\Users\lucal\.gradle\daemon\7.0.1\daemon-12192.out.log
Starting 5th buil

[2021-05-13 21:35] prok42 commented on #36
Hmm bei adopt gibt es ja Hotspot und die openJ9 vm, vielleicht liegt es an der Hotspot Version?

Ansonsten: probier doch mal das "java.com" jdk 16 von oracle, damit läuft es bei mir

[2021-05-14 09:34] timoknapp commented on #33
Der Fehler ist mir auch schon mehrfach vorgekommen. Mir ist dabei aufgefallen, dass die Benachrichtigungen über freie Termine generell etwas zu früh verschickt werden. Innerhalb des Modals zur Terminauswahl befindet sich ein Loadinspinenr "Termine werden abgefragt...". Wenn diese Abfrage länger als 1-2 Sekunden andauert und entsprechend nicht direkt ein Fehler angezeigt wird, get der Bot davon aus

[2021-05-14 09:49] #29 closed, assigned to nobody

[2021-05-14 10:28] prok42 commented on #33
Alternativ könnte man hier ja einen ganz "dummen" Timer einbauen, der 20s wartet und dann auf die sichtbaren Elemente prüft, 20s bei 10 Minuten Reservierungszeit wären nicht schlimm und die Implementierung vmtl einfacher als das Abfangen des jsons

[2021-05-14 11:02] Bergdoc commented on #33
Der PR von h0nIg sollte das Problem lösen:

https://github.com/TobseF/impf-bot/pull/38#issue-644620851

[2021-05-14 12:20] anp369 commented on #11
Das Problem tritt bei mir immer noch auf. Ich habe den Verdacht, dass zu schnelle Eingaben des Codes, die Protection triggern. Wenn ich in so einem Fall die Seite neu lade und den Code von Hand eingebe, komme ich immer durch. Vielleicht wäre [sowas](https://stackoverflow.com/questions/42891515/how-to-slow-down-the-speed-of-send-keys-action-in-a-selenium-script-using-python) eine Option? Ich progra

[2021-05-14 17:14] Pfuenzle commented on #11
Jap, habe heute mittag den Code erhalten, mit dem Bot kommt immer der Fehler, bei manueller Eingabe gehts bei mir auch immer durch. Ich wäre sehr für einen Timer, der 2-3 Sekunden nach dem laden der seite wartet, bevor er den Code eingibt

[2021-05-14 17:18] prok42 commented on #11
Warum gibt der Bot den Code denn überhaupt ein?
In der Bestätigungsmail mit dem Code ist doch ein Link, der direkt auf die Terminsuche mit dem Code führt, im Schema
https://(Server-id)-iz.impfterminservice.de/impftermine/suche/(Vermittlungscode)/(PLZ)

Eigentlich könnte man für die Terminsuche direkt diese links kommagetrennt aus einem properties-File nehmen und nacheinander durchprobieren.

[2021-05-14 17:31] Pfuenzle commented on #11
Stimmt, das wäre die beste Möglichkeit.
@TobseF  wäre es sehr aufwendig, das als alternative einzubauen?
Hab das Fenster jetzt nochmal beobachtet, und ca jedes 4. bis 5. mal kommt der Code durch, ansonsten kommt der Fehler

[2021-05-14 18:34] atpanos opened #40 "429 Too many requests"
Is it only me?
After some small amount of time I get only 429 on the termincheck.
Any workaround?
I did not change any time parameter.

[2021-05-14 18:38] Pfuenzle commented on #40
Nope, Me and some other people (https://github.com/TobseF/impf-bot/issues/11) also have this issue, it's probably because of the bot entering the code too fast.
@prok42 had the idea to use the URL that came with the confirmation email, as this way the entry of the code can be bypassed, which will probably fix this

[2021-05-14 18:40] atpanos commented on #40
I don't even have a confirmation code. Still trying to get one for the age of 62.

[2021-05-14 19:29] TobseF commented on #11
Den Link zu generieren und dann direkt anzusteuern, wäre kein Problem. Aber auch die langsame Eingabe mit der Vorschleife aus den [Beispielen](https://stackoverflow.com/questions/42891515/how-to-slow-down-the-speed-of-send-keys-action-in-a-selenium-script-using-python) lässt sich einfach nachrüsten.

Warum ist die Code-Eingabe so realisiert? Weil ich mich mit dem Link-Schema überhaupt nicht beschä

[2021-05-14 19:50] prok42 commented on #11
Klasse, viel Spaß und Erfolg beim Talk!

[2021-05-15 08:32] prok42 commented on #33
@h0nIg Mit Deinem MR/PR ist die Erkennung bei mir deutlich besser - über die Nacht kamen keine false positives und heute morgen ein "echter" positiver Fall

[2021-05-15 14:36] atpanos commented on #40
![Screenshot_20210515-163603.png](https://user-images.githubusercontent.com/26478584/118365114-ac49ad00-b59b-11eb-92fc-adff51a2eaed.png)
I set the timer up to 300 and still the same issue...

[2021-05-15 16:10] beastyrabbit opened #42 "Feedback"
Hi, first of all! thanks for making the bot!
I had my first shot today.

I ran the Bot while working, on my second Virtuell Monitor.
So for about 12h per day for 4 Days.
I turned down 4 Appointments because they were far away and more than 3 Weeks in the Future.

After the first successful attempt at getting to the Appointmentscreen, I tried to find an earlier option.

I modified the Coding for Sl

[2021-05-15 19:02] Contexys opened #43 "Question: Terminsuche"
Hey, danke für das Veröffentlichen dieses Bots!

Ich habe leider kein passenderen Ort für meine Frage gefunden deshalb steht sie nun hier.

Wenn ich nach neuen Impfterminen (mit Vermittlungscode) suche dann setzt sich der Timer für die Reservierung nicht zurück.
Daher stelle ich mir die Frage ob überhaupt die Möglichkeit besteht, dass nach einer Aktualisierung (innerhalb der 10 Minuten) neue Termi

[2021-05-15 19:39] prok42 commented on #43
Hi,

der Timer hängt, meine ich, am Vermittlungscode, nicht an der Session.

Wenn du den gleichen link von einem anderen Gerät mit dem gleichen Code öffnest, sollte der Timer identisch stehen, oder?

[2021-05-15 19:46] Contexys commented on #43
Hi,

wenn ich den gleichen Link bspw. in Chrome öffne und danach den Tab komplett schließe bevor ich den Link erneut aufrufe resetet sich der Timer.

Meine Frage ist allerdings aber ob der Reset bzw. nicht Reset des Timers Auswirkungen darauf hat ob neue Impftermine abgefragt werden oder ich die leere reservierte Liste zurück bekomme.

[2021-05-15 20:00] prok42 commented on #43
Ah! Gute Frage, sorry, hatte erst nicht verstanden, worum es dir ging

[2021-05-15 20:02] Contexys commented on #43
Kein Problem :). Vielleicht weiß ja jemand anderes etwas dazu?

[2021-05-16 07:23] BurgerKing2k19 opened #44 "SlackBot"
Hi, Kann mir jemand erklären, wie man den Slackbot startet? Ich habe in der config alles angepasst aber wie starte ich die SlackClient.kt datei?

[2021-05-16 09:15] dirkbloessl commented on #44
Der wird automatisch mit gestartet. Du musst nur das "Hauptprogramm" starten und Slack konfiguriert und aktiviert haben. Dann postet der Bot automatisch.

[2021-05-16 10:50] PhilipU commented on #43
Hi,

bei Intervallen kleiner 10min bin ich nach einiger Zeit (über Nacht) in die DOS Erkennung reingelaufen und bekam nur noch "429 - Too Many Requests" auf die Ajax Terminanfragen zurück. Das wird leider vom Bot nicht direkt erkannt und ich habe das nur aus Zufall gesehen. Fortan hatte ich immer die JS Console offen um das ab und an zu prüfen. Mit einem 10min Intervall kam das aber nicht mehr vor

[2021-05-16 11:03] Pfuenzle commented on #43
@PhilipU kannst du mir sagen, welche Intervalle du in der Config eingestellt hast? Hab schon ein bisschen rumprobiert, aber bekomme bei einer Terminsuche mit Vermittlungscode immer den Fehler 429

[2021-05-16 11:25] PhilipU commented on #43
waitingTime = 590
waitingTimeForUserAction = 15
waitingTimeinWaitingRoom = 1
searchElementTimeout = 10
waitingTimeForBrowser = 5

[2021-05-16 11:32] PhilipU commented on #44
Evtl. zielt die Frage auch darauf ab wie man zum erhalten der Channel-ID die main() einmalig ausführt? Das geht z.B. in intelliJ ganz einfach:
![image](https://user-images.githubusercontent.com/1150697/118395552-50d6f800-b64b-11eb-913f-1dc4b462d69d.png)

[2021-05-16 13:40] vladivlad86 opened #46 "Telegram Notification"
Is there a possibility to test the Telegram notification?

[2021-05-16 14:43] prok42 opened #47 "aktuellen Chromedriver aus chocolatey ziehen"
Hi @TobseF

kleiner Punkt für die Doku (und leider keine Zeit für einen PR):
In Deiner Doku nutzt Du via chocolatey den "selenium-chrome-driver", dieser ist aber veraltet und funktioniert mit einem aktuellen Chrome nicht mehr (siehe https://community.chocolatey.org/packages/selenium-chrome-driver -> Für Chrome Version 84 )

Stattdessen sollte die Doku direkt https://community.chocolatey.org/packag

[2021-05-16 14:55] atpanos commented on #46
With one of the latest commits there should be a notification at bot startup.

[2021-05-16 16:15] dirkbloessl commented on #44
Noch einfacher an die Channel-ID kommen: rechts-klick auf den Channel-Namen, Link kopieren
<img width="396" alt="Bildschirmfoto 2021-05-16 um 18 14 27" src="https://user-images.githubusercontent.com/811984/118404292-a1ae1700-b672-11eb-9231-e1f676d174b6.png">

Anschließend hat man einen Link im Format: https://xxxxxx.slack.com/archives/C021TU9XXUV
Das C021TU9XXUV wäre dann die ID.

[2021-05-16 16:21] eiselems commented on #5
Hallo miteinander,

Gibt es irgend eine Limitierung wenn man mehrere Impfzentren mit dem gleichen Server / Vermittlungscode abklappert?

Dieser weiterlaufende Timer gibt mir irgendwie zu denken 🤔
Kriegt man in den 10 Minuten überhaupt eine neue Antwort?

[2021-05-16 16:42] fabianhick opened #48 "Bot incorrectly enters Vermittlungscodes"
Thanks for developing this bot!

However, it seems that it unfortunately mistypes the Vermittlungscode on the booking page (i.e. only fills in the first two blanks, but misses the first letter) and then throws an error:

[code]

[2021-05-16 16:50] madrhr commented on #48
Based on your specific exception, I think your problem is more because of the 'ü' in Tübingen. This is a previous problem of this project. Basicly you have 2 options.
1. remove die city name and use just the zip code (works perfectly fine)
2. search the closed issues, I think this was mentioned (and maybe fixed) before

[2021-05-16 16:55] fabianhick commented on #48
I just tried it with just the zip code, but unfortunately the error persists.

[2021-05-16 16:59] madrhr commented on #48
Is it only for the city of Tübingen or other cities aswell?

[2021-05-16 17:08] fabianhick commented on #48
It seems to work in another city, maybe it is also just because the Vermittlungscode for Tübingen starts with a number in comparison to my other.

[2021-05-16 17:46] dirkbloessl commented on #48
I have a similar issue. City is Hamburg. The second segment is X6WL and the bot just does not enter the 6. If I change it to XXWL it works.
I'm currently digging in the code, why this happens...

[2021-05-16 17:58] spozer commented on #48
I also noticed that a '5' acts as a backspace some how. But it only occurs for me when running in the Docker container. I think it has something to do with the VNC server, because through the VNC web client the same thing happens for keyboard inputs.

[2021-05-16 18:16] Pfuenzle commented on #48
Oh I didn't run into this yet, as non of my Vermittlungscodes I'm checking have an numbers in them. Ill test some other keyboard layouts for the VNC server and then create a pull request

[2021-05-16 18:31] oldgitdaddy opened #49 "Exception in stacktrace (value=//input[@formcontrolname='age')"
Hi, I have the following exception in the stacktrace. I am a bit concerned, that the bot does not handle age properly. Any idea, how to fix?
[code]

[2021-05-16 18:39] BurgerKing2k19 commented on #44
Das habe ich gemacht, danke. Kann man das irgendwie testen, ob es auch funktioniert?

[2021-05-17 05:10] dirkbloessl commented on #44
Sobald Du den Bot gestartet hast, schickt er eine Meldung in den konfigurierten Channel, dass er jetzt mit der Suche startet.

[2021-05-17 08:23] Bergdoc opened #50 "Docker on raspberry pi: chromedriver syntax error"
Hi,
while trying to run docker on a raspberry pi 4 I encountered some issues with chromedriver. Does anyone of you have a running setup with a rpi4 (or 3)? The error occurs when running the docker container, it was built without any problems. I am not a docker expert, is there any way to narrow down the error?

_/app/chromedriver: 1: /ap/chromedriver: Syntax error: "(" unexpected_

![chromedriver

[2021-05-17 08:35] Pfuenzle commented on #50
I'm pretty sure that that's because the container is using the x64 Chromedriver version, while Raspberry PI has the ARM architecture. Thanks for your find, I'm gonna make a new Dockerfile for ARM and make a pull request

[2021-05-17 09:28] fabicodes commented on #47
Ansonsten könnte man auch via [Webdriver Manager](https://github.com/bonigarcia/webdrivermanager) sich den entsprechenden Driver laden lassen

[2021-05-17 09:44] prok42 commented on #47
Was es alles gibt, kannte ich noch gar nicht @fabicodes ;-)
Für die Doku sollte es aber vmtl eher die einfachste sinnvolle Lösung sein, ggf. mit einem Hinweis auf eine more sophisticated Lösung :)

[2021-05-17 10:22] atpanos commented on #48
try to save the config.properties as UTF8

[2021-05-17 12:02] KingLoui1986 commented on #44
Allem voran erstmal vielen Dank allen beteiligten für die herausragende Arbeit!

Ich habe nur noch ein paar Verständnisprobleme.
Ich starte den Impf-Bot immer via Docker Container habe in der config.properties File gemäß Doku den Slack API Token, sowie die beiden Bot Channel eingetragen.
Habe vom Impf-Bot allerdings noch keine Message im Slack Chat gelesen beim Programmstart.
Leider bin ich noch n

[2021-05-17 12:13] Pfuenzle commented on #44
Hab es mit Slack noch nicht getestet, aber die Telegram benachrichtigungen funktionieren bei mir
Baust du den Container selber oder nutzt du meinen aus dem Dockerhub? Falls das zweite, gib mal `docker pull pfuenzle/impf-bot:latest` ein, damit sollte das neueste Image geladen werden

[2021-05-17 12:37] Pfuenzle commented on #50
Could you try to run `docker pull pfuenzle/impf-bot:latest` to get the newest image (Or build it yourself with the newest commit) and test if this error persists? Thanks

[2021-05-17 13:19] Bergdoc commented on #50
Unfortunately it is not working for me with this fix @Pfuenzle

![chromedriver syntax error new](https://user-images.githubusercontent.com/74468424/118494876-e0030f00-b722-11eb-8d5f-9547ca50ded3.png)

I did some quick research and maybe we should change to this version for the raspberry pi:
https://ivanderevianko.com/2020/01/selenium-chromedriver-for-raspberrypi
Can you guide me, what would I need

[2021-05-17 13:21] marcvs commented on #46
I get a badly started up chromium (url looks like "data;") when setting
`telegramEnabled = false`
I'm using the dockerised version on debian/bullseye

[2021-05-17 13:54] Pfuenzle commented on #50
The newest update contains a ChromeDriver Manager, which should automatically get the working version, bit it still seems to get only the x64 version.

To get it to work, replace
`WebDriverManager.chromedriver().setup();` in src/main/kotlin/de/tfr/impf/selenium/DriverFactory.kt
with `System.setProperty(Config.nameDriver, Config.pathDriver + Config.exeDriver)`

After that, add
`RUN apt-get install

[2021-05-17 14:48] Bergdoc commented on #50
thank you very much for your effort so far!

If I add RUN apt-get install chromium-chromedriver to the Dockerfile, I get some issue:

[code]

I installed then chromium-chromedriver locally on the raspberry and adjusted the path as you mentioned, but somehow the ChromeDriver is not found, even if it's there?

![chromedriver not exists](https://user-images.githubusercontent.com/74468424/118508405-77

[2021-05-17 17:12] lalelunet opened #53 "Error failed finding property `state`"
In the latest docker image I get a error at start of the chrome browser.

REPOSITORY                     TAG       IMAGE ID       CREATED        SIZE
pfuenzle/impf-bot              latest    096573139298   4 hours ago    2.58GB

edit the location to just the plz or remove a second location does not help. Switching back to the version 1.2 does resolve the problem.

pfuenzle/impf-bot              v1

[2021-05-17 17:22] Pfuenzle commented on #53
This is due to a new update of the bot, which is looking for a new attribute in your config file.
If you add:

`state = Baden-Württemberg`

To your config file, the error is resolved (replace Baden-Württemberg with the state youre searching in).
In v1.2, the state function was not coded into the bot, which is why it is working without it

[2021-05-17 17:27] Pfuenzle commented on #50
When installing the Chromedriver on the PI, the docker container does not have access to it, as it is basically a independent system. I have found a ARM binary for Chromedriver 90, I'll post a new dockerfile here in a few hours

[2021-05-17 17:27] lalelunet commented on #53
You are right. Adding the parameter state to the config resolve the pro problem. Thank you for your fast response and the good project :)

[2021-05-17 17:27] #53 closed, assigned to nobody

[2021-05-17 20:00] fabicodes commented on #50
Sorry, I did not know that :(

[2021-05-17 20:29] KingLoui1986 commented on #44
Hi @Pfuenzle,

vielen Dank für die Info wieder was gelernt, ich habe immer nur das GitHub Verzeichnis neu geladen, aber die Docker Umgebung nicht aktualisiert aufgrund von Unerfahrenheit im Umgang damit.
Der Fehler ist mir dann aber auch noch beim überfliegen des Config Files aufgefallen hatte auch da einen Fehler bei "false" / "true" geht "enable" einfach nicht.  :-)
Aber vielen Dank für Deine Hi

[2021-05-17 20:56] Pfuenzle commented on #50
@fabicodes Dont worry, I also would have assumed it gets the correct architecture, the WebDriverManager is a nice addition anyways :D

@Bergdoc Could you please try this Dockerfile?
[code]

and set the chromedriver path to /usr/bin/

This should download the chromedriver for ARM and it finally should work

[2021-05-17 21:10] lucaleicht commented on #36
Leider hat das auch nicht geholfen. Ich bin immernoch auf der Suche. Bald verbringe ich mehr Zeit damit als die nervige Seite von Hand zu aktualisieren.

Falls jemand noch einen Tipp hat, gern her damit.

[2021-05-17 21:18] KingLoui1986 commented on #40
I also experiance the same, I also played around with different time settings.
But the webpage seems to identify my connection attempt immediatly as a bot attempt. I have no other explanation for it than that.
It also recognizes my very first connection attempt as a Bot and  immediatly replys with 429.
Does no one else have a similar same observation?
Did anyone found a solution for the problem al

[2021-05-17 21:28] anp369 commented on #40
I also have the same problem. Reloading the page by hand and entering the code by hand fixes the problem four roughly 5-10 minutes before the 429 erros pop up again. Strangely this depends on the impfzentrum. Some in my list stop working while others continue to work for some more requests.

On May 17, 2021, 23:18, at 23:18, KingLoui1986 ***@***.***> wrote:

[2021-05-18 05:58] Bergdoc commented on #50
It works now as it should, thank you @Pfuenzle !
Since you have to revert the changes for the ChromeDriver Manager, I think I'll just add the necessary changes to get it running to the Docker docu section, or what do you think?

[2021-05-18 13:17] Bergdoc commented on #48
I face the same issue with the numbers 5 and 6 while running inside a docker container (there is also a different output when I type these numbers over the VNC web client).
Saving the config.properties as UTF8 did not help for me. Has anyone found a workaround (beside generating new "Vermittlungscodes" until they don't have a 5 or 6 inside)?

[2021-05-18 13:26] Pfuenzle commented on #48
It seems 5 and 6 get mapped to wrong keys or no key at all, (thanks random bug report from 2001). I'm trying to find the best way to remap them, will make a commit in the next few hours

[2021-05-18 14:02] Pfuenzle commented on #36
Denke das einfachste wäre, Docker zu installieren und den Dockercontainer zu nutzen. Wenn sogar die offizielle Java-Version nicht funktioniert, wüsste ich auch nicht mehr

[2021-05-18 14:28] Pfuenzle commented on #50
[code]

Yes, thats a good idea, would be nice if you want to write the Documentation for it.

Here is a updated Dockerfile, I also made a pull request for it.
https://github.com/TobseF/impf-bot/pull/55

To build the container with a Dockerfile with a different name, use
`
docker build . -f Dockerfile_ARM impf-bot
`

The new Dockerfile automatically patches
`
To get it to work, replace
WebDriverMan

[2021-05-18 14:33] Pfuenzle commented on #48
Keys 5 & 6 are fixed with the newest Containerupdate, I hope this fixes this issue

[2021-05-18 15:37] Bergdoc commented on #48
I just had a quick look and for me it seems like the issue is still there. Typing 5 and 6 is not possible. I'll have a closer look later, if I missed something.

[2021-05-18 16:18] Pfuenzle commented on #48
I forgot to apply the patch to the ARM image, just made a commit.

[2021-05-18 17:27] lucaleicht commented on #36
Das vermute ich auch. Dann werde ich mich da mal dran wagen.

[2021-05-18 17:39] atpanos commented on #50
For me on raspberry pi 4 does not work.
Can you maybe push an image to dockerhub for arm?

[2021-05-18 17:41] Pfuenzle commented on #50
I'll have to look into how I can do that, as I don't have a ARM device at home. What error do you get when building it yourself?

[2021-05-18 17:44] atpanos commented on #50
First the chrome version can't be found. I updated it to the ..212-1.

And then at the end the Gradle build failed.
But it did not say any specific. Only use --stacktrace to get more output.

But ok, I thought you are also working on arm, I can maybe look into it myself also.

[code]

If I see it correct the dockerfile replaces the chrome driver path with the ones in the config. But in the config

[2021-05-18 17:55] Bergdoc commented on #50
@atpanos
You have to add to config.properties:

`
pathDriver = /usr/bin/
nameDriver = webdriver.chrome.driver
exeDriver = chromedriver
`

Or adjust directly the line in the docker file:

`
RUN sed -i -e 's/\ \ \ \ WebDriverManager.chromedriver().setup();/\ \ \ \ System.setProperty(Config.nameDriver, Config.pathDriver + Config.exeDriver)/g' src/main/kotlin/de/tfr/impf/selenium/DriverFactory.kt
`

[2021-05-18 17:56] Pfuenzle commented on #50
Oh good find, nameDriver, pathDriver and exeDriver is not in the config anymore.

Could you please try out following Dockerfile? Thanks

[code]

Edit: Whoops Bergdoc was a minute faster :P
But as he said, I replaced the paths with the right ones

[2021-05-18 18:47] Bergdoc commented on #48
I still face some issues, I think the key-mapping is done correctly, since I can use now the numbers 5 and 6 inside the vnc client. But somehow it seems that chromium is not using the mapping correctly? Since when I try to use 5 and 6 it works with my numpad (somehow 8 will result in fullscreen) but the normal 5 and 6 is not working inside chromium browser.
https://bugs.chromium.org/p/chromium/iss

[2021-05-18 19:00] TobseF commented on #47
Jap... da hab ich auch wieder was dazugelernt 👍

[2021-05-18 19:00] #47 closed, assigned to nobody

[2021-05-18 19:08] fabicodes commented on #47
Achtung, zumindest in der Java Variante scheint wohl immer nur für x86/x64
Varianten die Chromedriver akquiriert zu werden, ARM wohl nicht. Hab
aktuell aber nichts zum testen da, sollte man ggfs tun

On Tue, 18 May 2021, 21:01 Tobse, ***@***.***> wrote:

[2021-05-18 19:09] TobseF commented on #43
Ich weiß nicht wie es sich auf die Suche auswirkt, aber wenn bei jedem Check ein "neuer Browser" genommen werden soll, dann lässt sich dass sehr einfach nachrüsten. Vielleicht wird das Cookie mitverwendet um häufige Abfragen zu erkennen. Dann würde es helfen in der `locations`-Schleife den Driver neu aufzubauen:
[code]

[2021-05-18 19:09] #44 closed, assigned to nobody

[2021-05-18 19:27] Pfuenzle commented on #48
I should have fixed it with the newest Dockerfile, but I only tested it in Firefox as I didnt think it would make a difference, but youre right, in Chromium its not working. I will look into that

[2021-05-18 19:44] Pfuenzle commented on #48
Alright, made a Pull request, now Chrome also accepts the keymappings.
No idea why they were ignored in the first place, but whatever

[2021-05-18 20:37] #48 closed, assigned to nobody

[2021-05-18 20:39] #50 closed, assigned to nobody

[2021-05-18 20:40] atpanos commented on #50
I managed to get it to work.
Will commit my changes tomorrow.
But I still get only 429...

Somehow the rpi4 runs always into the bot protection. Maybe user-agent check for arm?

[2021-05-18 20:42] Bergdoc commented on #50
I did not run into 429, are you using default timings?

[2021-05-18 20:45] atpanos commented on #50
Tried default yes.
Also increased them, no change.

[2021-05-18 20:47] Bergdoc commented on #50
strange, on which server (e.g. 001) are you getting the errors? I'll try to reproduce it tomorrow

[2021-05-18 21:12] Pfuenzle commented on #50
Thats very likely no ARM-specifc issue, also you can try to change the useragent with the config file

[2021-05-18 21:14] atpanos commented on #50
On all, 001, 002, 003, 005, 229

[2021-05-19 00:25] lucaleicht opened #59 "Docker:Vermittlungscode unvollständig eingetragen"
Hallo zusammen,
nachdem ich bei der Desktop-Installation an einem unerklärlichen Java-Problem gescheitert bin, habe ich es jetzt mit Docker versucht.
Grundsätzlich bin ich hier schon deutlich weiter. Allerdings werden teilweise die Vermittlungscodes nicht vollständig eingetragen. Mal nur der erste Block, mal fehlen die letzten zwei Ziffern/Lettern. Manchmal fehlen in der Mitte Teile des Codes. Man

[2021-05-19 00:31] lucaleicht commented on #59
Vermutlich das 5 & 6-Problem mit einem alten Docker Image. Ich versuche mal ein Update.

Edit: Update erfolglos. Außerdem wird auch die "2" nicht übernommen. Auch ein "C" hat es einmal nicht geschafft, obwohl im es im selben Code einen Block vorher übernommen wurde.

[2021-05-19 07:18] Pfuenzle commented on #59
Also das 5 und 6 Problem liegt am docker Image, ich bin noch nicht dazugekommen, das Dockerimage auf Dockerhub hochzuladen, da das bei meinem Internet ewig dauert, also müsstest du das Image kurz selber bauen oder bei heute Mittag warten.
Die anderen Fehler kommen mir allerdings unbekannt vor, ich hab ansonsten eigentlich alle möglichen Tasten mir Firefox, Chrome und Edge ausprobiert

[2021-05-19 07:53] Bergdoc commented on #59
Komischerweise existiert das 5 und 6 Problem immer noch @Pfuenzle
Ich hatte das Image heute morgen kurz gebaut und getestet und es lässt sich jetzt auch die 5 und 6 über den VNC Client z.B. direkt händisch in die Vermittlungscode Zeile eintragen, aber das automatische ausfüllen scheitert immer noch.
Ich teste es aber heute Abend nochmal etwas mehr im Detail.

[2021-05-19 10:34] KingLoui1986 commented on #40
I think this suggestion posted by @TobseF in Issue #43 could potentially be a solution for this problem as well.

[code]

_Originally posted by @TobseF in https://github.com/TobseF/impf-bot/issues/43#issuecomment-843459995_

[2021-05-19 11:54] atpanos commented on #40
i don't think it will have any affect.
i just ran it on windows (gradle build, java -jar ...) and it works.
only on docker on my raspberry i get only 429, even on the first call.

[2021-05-19 11:55] Pfuenzle commented on #40
Did you try to change the useragent to a windows one?

[2021-05-19 12:01] atpanos commented on #40
i did, but somehow it does not work, you mean through the config file, correct?

[2021-05-19 12:27] Pfuenzle commented on #40
Yes, with the config, the server should then have no idea if the client is running in docker or on a desktop

[2021-05-19 13:38] atpanos commented on #40
#61
there was a change required to get the change of user-agent to work.
on docker in windows now it works.
now i will try on raspberry pi.

EDIT: still not working on raspberry pi :(

[2021-05-19 15:22] bihlmaier commented on #5
Ich habe noch einen Vermittlungscode eines eigentlich anderen Testzentrums und diesen mit dem Server-code im impf-bot hinterlegt.
Der Impf-Bot bekommt jedoch immer in Chrome den Fehler "Es ist ein unerwartetes Problem aufgetreten".

Als URL wird hierzu 226-iz.impfterminservice.de/impftermine/service?=plz=70629 automatisiert eingegeben.

Wenn ich diese jedoch manuell an einem Computer (mit anderer

[2021-05-19 16:38] lalelunet commented on #59
Ich habe das auch mit der aktuellen docker version. Version 1.2 habe ich getestet. Dort tritt es auch auf. Der Vermittlungscode ist aber nicht meiner? Er stimmt überhaupt nicht überein. Er bricht immer an der gleichen Stelle ab und ist immer identisch.

Was mir auch aufgefallen ist das der Server ingoriert wird. Der request wurde an 001 gesendet obwohl ich (002) angehängt habe.
[code]
<img width="

[2021-05-19 16:46] bluefish007 commented on #5
Das direkte Aufrufen der Terminseite über den Direktlink hat bei meinem Script (selbst geschrieben) leider nicht zuverlässig funktioniert, sondern man wird häufig/meistens auf die Startseite weitergeleitet. Warum der Direktlink manchmal funktioniert und manchmal nicht konnte ich nicht herausfinden.

Daher ist es hier vermutlich auch so, dass der Weg über die Startseite -> Auswahl Bundesland/Impfze

[2021-05-19 16:57] mafeko commented on #59
@Pfuenzle hättest du Interesse das docker image jeweils mit dem aktuellen commit-hash als tag von github-actions bauen zu lassen?
z.b.: pfuenzle/impf-bot:1b0995e
Sollte bei der anfallenden Nutzung kostenlos bleiben (siehe [docs](https://docs.github.com/en/actions/reference/usage-limits-billing-and-administration#:~:text=Workflow%20run%20time%20%2D%20Each%20workflow,might%20cause%20jobs%20to%20fail

[2021-05-19 17:42] Pfuenzle commented on #59
Ja, werde ich ab jetzt machen. Hatte bis jetzt vor, einfach nur den :latest tag zu bauen, v1.2 etc waren nur noch verfügbar ,weil ich  die Dokumentation von Dockerhub missverstanden hatte und dachte, dass man Images nur mit Pro löschen kann. Hab die alten jetzt gelöscht und le die Images sollten ab jetzt automatisch gebuildet mit :latest und :SHAhash gebaut werden

[2021-05-19 17:46] Apfelwurm opened #64 "Question: Age Feld"
Hi zusammen,
ich habe mir eben das Projekt angeschaut und wollt mich zunächst bei allen contributenden für die tolle Arbeit bedanken :)

Ich habe eine kurze Frage, bei der ich aber nicht weiß ob sie hier überhaupt von jemandem beantwortet werden kann:
In wie weit entscheidet das Age Feld über die Ausgabe von freien Terminen? Im konkreten Fall liegt eine Impfbescheinigung vor, weshalb das Alter zun

[2021-05-19 17:46] mafeko commented on #59
Okay cool, komme zwar nicht aus der Java Ecke aber könnte ggf. bei der Docker CICD pipeline unterstützen wenn du möchtest. ;)

[2021-05-19 18:03] Pfuenzle commented on #64
Weiß jetzt nichts internes, aber bei mir hab ich z.B. für meinen Opa was gesucht und sein Alter eingegeben, und da er über 60 ist und Astra Zeneca bekommen darf, gab es für ihn einen Termin, als ich dann aber mein Alter eingegeben habe, gab es keinen mehr, da Astra für meine Altersgruppe nicht empfohlen ist.

Also falls Astra Zeneca verfügbar: Nur Termin falls Alter über 60
Falls anderer Impfstoff

[2021-05-19 18:23] Apfelwurm commented on #64
Dankeschön für die Erklärung :)

[2021-05-19 18:38] Bergdoc commented on #64
Das Alter ist relevant für die Bestimmung der Leistungsmerkmale (welcher Impfstoff)

L920 = Biontech für 16-17jährige
L921 = Biontech oder Moderna für 18+
L922 = AstraZeneca für 60+
L923 = Johnson & Johnson für 18+

siehe Issue: https://github.com/TobseF/impf-bot/issues/16

[2021-05-19 21:41] atpanos commented on #40
@KingLoui1986 did you try the driver close solution?

[2021-05-20 06:11] #43 closed, assigned to nobody

[2021-05-20 10:05] miwurster commented on #49
Same here. Any hint how to fix this?

I used the latest master to build the Docker image.

[2021-05-20 10:09] Pfuenzle commented on #49
Do you see anything unusual in the browser window via VNC?

[2021-05-20 10:25] miwurster commented on #49
I couldn't catch the moment in VNC when the error is popping up. I'll monitor it and come back to you.

[2021-05-20 12:34] miwurster commented on #49
Atm I assume it belongs to my "aggressive" timings ;-)

I use the following timings now and it seems to work as intended:
[code]

Anyone can share some best practice settings concerning the timeouts?

[2021-05-20 14:38] BurgerKing2k19 commented on #42
Could you share that coding?

[2021-05-21 12:13] EQ5 opened #68 "ist das ein Fehler oder weil keine Termine frei sind"
Hallo,
erstmal danke für das zur Verfügung stellen des Bots,
ich habe eine Frage zu diesem Eintrag im Log ERROR ReportJob - Failed to check location: egal welche Location ich angebe.

Ist das ein Fehler oder weil gerade keine Termin zur Verfügung stehen?

Gruss Manuel

[2021-05-21 17:17] TimApplepie commented on #40
I did exactly this in my [fork](https://github.com/TimApplepie/impf-bot/commit/c6b785088e09af190fe3c9219ab3e0b492495de4). Fixed the issue for me.
Feel free to use it.

[2021-05-21 17:22] TimApplepie commented on #11
Ich habe in meinem [Fork](https://github.com/TimApplepie/impf-bot/commit/c6b785088e09af190fe3c9219ab3e0b492495de4) den Link direkt generiert. Läuft 🙂
Wichtig ist hierbei, dass in der Locations Konfiguration neben dem "Placement code" auch der Servercode eingetragen ist.

[2021-05-22 04:12] #64 closed, assigned to nobody

[2021-05-22 15:59] tobias-jopp opened #70 "Feedback"
Hallo zusammen, ich habe heute meine **erste Spritze** erhalten!!

Ich habe den Bot etwa 2 Tage durch Laufen lassen und dann einen Termin erhalten, allerdings habe ich 2 Instanzen aufgesetzt.

Eine Instanz hat nach Vermittlungscodes gesucht und die andere nach Termine, da mir das mit einer Instanz zu lange gedauert hat.

Folgende Einstellungen habe ich benutzt, ohne den Fehler _**429 Too many requ

[2021-05-22 16:58] Sebastian-G commented on #68
Hast du mal mittels VNC auf localhost:5901 deinem Browser zugeschaut (oder via Browser, siehe Doku)
Da das System ja nur dein Browser automatisiert, kannst du ja mal online die Liste durchschauen.

Es ist wichtig, dass der Name den du in der Config für eine Location angibst auch genau so in der Liste steht.

Ich habe es wie im Beispiel mit „PLZ OrtsName“ gemacht.

wenn du in Deinem lokalen Code da

[2021-05-22 17:05] Sebastian-G commented on #59
Kannst ja einfach n MR erstellen 😉 dann muss @TobseF nur die credentials noch nachtragen.

[2021-05-22 17:08] Sebastian-G commented on #46
This issue is not relevant anymore, please close it.
The Telegram integration is working with the current master version and also with the latest docker image.

[2021-05-22 17:17] Fabbi commented on #68
Das Problem hatte ich auch.

Das Problem bei mir war, dass ich ohne Vermittlungscode die Zentrums-ID angegeben habe. `parseLocation` erwartet aber `[`.
`72072 Tübingen(002)` geht also nicht, `72072 Tübingen[](002)` scheint aber zu funktionieren.

[2021-05-22 21:33] Sebastian-G commented on #68
Die ServerID kann man auch weglassen, da der Bot ohnehin nur die UI verwendet und keine API Shortcuts verwendet.

Daher geht auch z.B. `"72072 Tübingen,7..."`

[2021-05-22 21:53] #46 closed, assigned to nobody

[2021-05-22 21:54] #33 closed, assigned to nobody

[2021-05-22 21:54] #49 closed, assigned to nobody

[2021-05-23 09:32] stephankoelle opened #73 "Sms Code in slack from other integration is not processed"
I have build an integration that auto posts the sms code to the slack channel, but impfbot only processes it after a 'real' user repost the code (to the same channel).

Any idea what needs to be changed, that it reads the posts of other slack apps?

[2021-05-24 11:06] Jupiops opened #75 "ERROR ReportJob - Failed to check location:"
Im getting an error using the latest Docker Image

Stacktrace: [_impf-bot_impf-bot.1.s6kb6pwmjapj9a6b8galltolo_logs.txt](https://github.com/TobseF/impf-bot/files/6531844/_impf-bot_impf-bot.1.s6kb6pwmjapj9a6b8galltolo_logs.txt)

Im using this config:
[code]

[2021-05-24 11:22] Jupiops commented on #75
Umlaut im state Attribut hat den Fehler verursacht, mit `state = Baden-W` gibt es jetzt keinen Fehler mehr, allerdings habe ich jetzt das Problem mit dem Vermittlungscode

[2021-05-24 16:54] Bergdoc commented on #75
Was für ein Problem hast du mit dem Vermittlungscode?

[2021-05-24 17:29] Jupiops commented on #75
Die letzten beiden Zeichen `6D` werden abgeschnitten

[2021-05-24 19:44] Sebastian-G commented on #75
Dazu gibt es schon ein issue. Einfach selbst den master builden dann gehts.

Siehe #59

[2021-05-24 21:01] #75 closed, assigned to nobody

[2021-05-25 07:14] GameScripting commented on #40
@TimApplepie I tried to merge & use your changes, however I noticed that your change requires me to already have received a placement code, right?

[2021-05-25 07:49] Bergdoc commented on #4
Could you share the files @TobseF ? I guess it would be nice to add a feature which books the appointments automatically after ~9 mins without user input.

[2021-05-25 07:59] TimApplepie commented on #40
Correct

[2021-05-25 09:18] TobseF commented on #4
Hey @Bergdoc,
of course... last but not least... I pushed the page file I used to write the matchers and I wrote the first test which uses such a file:
https://github.com/TobseF/impf-bot/blob/master/src/test/kotlin/de/tfr/impf/page/SmsVerificationPageTest.kt

It's a shame that I didn't wrote the tests before... I was young and needed that vaccine😅

[2021-05-25 13:38] Bergdoc commented on #4
Thank you @TobseF  for sharing the files!
I just started to work on it and I somehow struggle to test it, since I have like no/ limited experience with web automation/ selenium/ kotlin/ HTML ...
How do I build the test you provided? Would it possible to set a test up the same way you did to test if the whole procedure its working?
https://github.com/Bergdoc/impf-bot/commit/f20c63a2146df116d08c5813

[2021-05-26 06:24] error-empire opened #77 "Timeout für die Termin-Reservierung zurücksetzen?"
Moin zusammen!
Erst mal vielen Dank für die tolle Software! 👏
Ich konnte darüber schon für zwei Personen Termine buchen! 😀
Was mir allerdings schon öfter aufgefallen ist:
Der Timeout für die Terminreservierung startet bei nachfolgenden Anfragen (also der zweiten, dritten, vierten, etc. Impfzentrumsanfrage) nicht neu bei 10m, sondern lässt den "alten" Timer runterzählen bis er bei 0 Sekunden angeko

[2021-05-26 10:23] szabo80a opened #78 "Location mit zwei Zeilen können nicht selektiert werden"
Hallo TobseF,

vielen Dank für das Projekt, coole Sache! Leider scheint es ein Problem zu geben wenn der Standort zwei Zeilen hat im Auswahlmenü. z.B 88444 Ummendorf
![Screenshot from 2021-05-26 12-22-27](https://user-images.githubusercontent.com/46577531/119644391-17f20c80-be1d-11eb-833b-c913b5554a61.png)

[89584 Ehingen, 72762 Reutlingen, 88444 Ummendorf]
26.05 10:05:11 ERROR ReportJob - Failed

[2021-05-26 14:14] szabo80a commented on #78
Hat sich erledigt, es hatte mit meiner Umgebung zu tun. jetzt funktioniert es auch mit Ummendorf

[2021-05-26 14:14] #78 closed, assigned to nobody

[2021-05-26 18:18] EQ5 commented on #59
Kann mir kurz jemand erklären, wie ich das Problem behebe mit dem Unvollständige Vermittlungscode? Danke

[2021-05-26 18:19] EQ5 commented on #68
Formatierung der config.porperties hat den Fehler behoben. Musste das File expliziert als UTF-8 formatieren.

[2021-05-26 18:19] #68 closed, assigned to nobody

[2021-05-27 11:35] Sebastian-G commented on #59
Du kannst docker build starten um ein neues lokales image zu erzeugen.

1.  `docker build . -t custom-local-impf-bot` see https://github.com/TobseF/impf-bot/blob/master/doc/docker/DOCKER_SETUP.md

2.  change the used image on `docker-compose.yml`
[code]

[2021-05-27 14:17] prok42 commented on #40
@TimApplepie if you have the time, a pull request to get your feature merged here would be great (maybe add a switch how Vermuttlungscodes should be used - entered "interactively" or used "directly" (the latter may save you from 429, the first is maybe more robust if URL structures should change)

[2021-05-28 09:14] cYrAx157 opened #80 "Donation Link fehlt"
Hi,
Da der Bot mir und meinen Kollegen sehr dabei geholfen hat, Termine zu bekommen, ein fettes Danke von uns !
Hast du irgendwo einen Donation-Link oder sowas, das man dir nen virtuellen Kasten Bier schicken kann ? :-)

Also dann doch wieder zurück zu den Issues: "Der Donation Link fehlt" :-)

[2021-05-28 11:27] TornaxO7 opened #81 "[Frage] SMS Verifizierungs HTML Dokument öffnet sich"
Zuersteinmal danke, dass Sie den Bot hier erstellt haben!

Nachdem ich alles in die `impf-bot/src/main/resources/config.properties` Datei eingetragen und dann `gradle build` ausgeführt habe, öffnet sich bei mir auf einmal Chrome mit einer `impf-bot/build/resources/test/de/tfr/impf/page/SMS-Verifizierung.html` Datei. Ist das Absicht?

Ich verwende Arch Linux, falls diese Information hilft.

[2021-05-28 16:28] sgraf812 commented on #11
Ich habe jetzt seit einer Weile sowohl master probiert als auch @TimApplepie's fork, bekomme aber bei beidem weiterhin Error Code 429. Es funktioniert immer dann, wenn ich eine Weile mit der Maus im Fenster herumspiele, daher vermute ich, dass tatsächlich auf Mausaktivität o.Ä. geschaut wird.

[2021-05-28 19:13] Timwun commented on #81
Ja, es werden beim Builden die Tests ausgeführt. :)

Diese Tests beinhalten auch die SMS Verifizierung.

[2021-05-29 10:23] TornaxO7 commented on #81
Komisch, in den geöffneten HTML Dokumenten steht eine andere SMS. :thinking: Naja egal, danke für die Information!

[2021-05-29 10:23] #81 closed, assigned to nobody

[2021-05-29 22:16] TobseF commented on #80
Das freut mich sehr, dass der Bot so Vielen das Leben ein wenig erleichtern kann. Auch wenn es schon sehr traurig ist, das sowas überhaupt nötig ist und jedem, der sich händisch damit rumschlagen muss(te) kann einem leid tun.

Dieses Issue lasse ich ungern unbeantwortet. Grundsätzlich gebührt der Dank natürlich allen, die sich mittlerweile an den Projekt beteiligt haben... das sind mittlerweile al

[2021-05-29 22:16] #80 closed, assigned to nobody

[2021-05-30 10:49] TornaxO7 opened #84 "Bot funktioniert auf dem Raspberry pi nicht"
Hallo, ich würde gerne das Programm auf meinem Raspberry pi laufen lassen, jedoch bekomme ich folgende Fehlermeldung, wenn ich `gradle run` eingebe:

<details>

[code]

</details>

Auf meinem Haupt-PC funktioniert es aber.

# Reproduction steps (on the raspberry pi)
1. `git clone https://github.com/TobseF/impf-bot.git`
2. Die `src/main/resources/config.properties` Datei angepasst
3. `gradle build`

[2021-05-31 15:59] pauli2406 commented on #59
Hatte heute das selbe Problem und wollte es lösen, in dem ich das Image selber baue.
Allerdings tritt dann bei mir das folgende Problem auf:
![image](https://user-images.githubusercontent.com/24795790/120218351-e4a6e780-c239-11eb-9ad7-9ab2c0cd4378.png)

Er kommt gar nicht erst zu der Seite sondern gibt immer data; ein..
Jemand eine Idee?

[2021-05-31 17:05] anp369 commented on #59
Schau mal in die Konsole obs Exceptions oder so gibt. Hatte das Problem mal als mir vim Leerzeichen in mein config file gesetzt hat. Schau mal ob zb das Alter Leerzeichen am Ende hat. Das hatte das Problem zumindest bei mir immer behoben

On May 31, 2021, 17:59, at 17:59, pauli2406 ***@***.***> wrote:

[2021-06-01 20:06] Ferrento commented on #77
Ich habe mich das gleiche gefragt. Wenn ich manuell die Browserdaten lösche, dann beginnt der Timer wieder bei 10 Minuten.
Durch googlen habe ich die folgenden Seiten gefunden:
- https://www.browserstack.com/guide/how-to-handle-cookies-in-selenium
- https://stackoverflow.com/questions/49614217/selenium-clear-chrome-cache

Meine Idee war es die Browserdaten am Beginn der MainPage::open() Funktion z

[2021-06-02 08:44] Yiheng323 opened #85 "Don't know how to do 'Then fill them in channel properties in config.properties and set slackEnabled = true'"
Hi Tobse,
Many thanks for developing this app. I'm following your instructions of setting up the bot in slack but I don't know how to do the last step. Could you please give more instructions?
Thank you!

[2021-06-02 09:11] Yiheng323 commented on #85
Sorry I skipped the important part and misunderstood the procedure.

[2021-06-02 09:11] #85 closed, assigned to nobody

[2021-06-02 11:26] Timwun commented on #84
Hab es aufgegeben aufm Raspberry Pi zum laufen zu kriegen und einfach Docker auf meinen Pi installiert und das Dockerfile_ARM gebaut und ausgeführt.

Chromedriver werden offiziell nicht für ARM gebaut. Zwar macht das z.B. Electron aber naja das Tool zum Downloaden lädt eben den falschen runter und auch ersetzen hat nicht sehr gut geklappt.

[2021-06-02 11:59] piechade opened #86 "Chromedriver sucht nach version 91, was in Debian buster nicht verfügbar ist"
In der Docker Datei wird chromium=90.0.4430.212-1~deb10u1 installiert, was völlig richtig ist. Dabei handelt es um die letzte Version im repo.
Aber wenn Sie den Container ausführen, sucht der Treiber-Downloader nach dem Chrome 91 Treiber.

Ich habe es so repariert:
`  WebDriverManager.chromedriver().driverVersion("90.0.4430.212").setup();`

[2021-06-02 12:11] sdnr commented on #86
should be `WebDriverManager.chromedriver().driverVersion("90.0.4430.24").setup();` i guess

[2021-06-02 12:21] piechade commented on #86
You're absolutely right

[2021-06-02 13:41] ConradSchmidt commented on #84
Hi @TornaxO7,
ich hatte auch Probleme den ImpfBot auf einem Raspberry Pi (Model B+) zu starten, da der ImpfBot eine Version vom chromedriver installiert, die auf meinem Raspberry Pi nicht funktioniert.

1. [install java 14](https://learnraspberrypi.com/2020/11/25/run-java-14-on-raspberry-pi/)
2. `sudo apt install chromium-chromedriver chromium-browser` _(installs chromedriver)_
3. `git clone https

[2021-06-02 17:17] Timwun commented on #86
Tbh this WebDriverManager isn't a really good solution. It doesn't support ARM (e.g. for Raspberry Pi's) drivers or it's choosing the right version.

:(

[2021-06-02 18:25] schrotrf commented on #77
Der Timer scheint nicht in den Cookies sondern in der Session Storage verankert zu sein. Es müsste eigentlich reichen etwa folgendes auszuführen:
[code]
Der Code müsste bspw. vor dem Thread.sleep am Ende der checkLocations Funktion in ReportJob.kt aufgenommen werden. Leider schaffe ich es nicht zeitnah einen PR anzulegen mit dem Change

[2021-06-02 19:09] TornaxO7 commented on #84
Hui, danke für die Anleitung! Es reicht aber glaub, wenn ich den Bot auf meinem Haupt-PC laufen lasse, während ich Arbeite (ist nicht böse gemeint). Ich bin mir aber sicher, dass es den Ein oder Anderen nützlich sein wird ^^

[2021-06-02 19:09] #84 closed, assigned to nobody

[2021-06-03 06:44] h0nIg commented on #77
https://github.com/TobseF/impf-bot/pull/88 sollte euer problem lösen, ihr könntet den reset dann anders für euch konfigurieren

[2021-06-03 13:45] h0nIg commented on #77
IMHO der timer sagt nicht viel aus, ich bin mir unsicher ob das wirklich ein client seitiger check ist

![image](https://user-images.githubusercontent.com/2757302/120655268-c8e25200-c482-11eb-8fec-241fca659f1d.png)

[2021-06-03 21:26] reggydick opened #91 "element click intercepted: Element <span>...</span> is not clickable at point (231,332). Other element would receive the click"
Hallo
Erstmal dankeschön für den Bot! Läuft einwandfrei auf meinem PC, allerdings bin ich die nächsten Tage nicht in dessen Reichweite und wollte das ganze jetzt noch auf meinem Laptop zum laufen bringen. Allerdings bekomme ich folgende Fehlermeldung:
[code]

Bin leider überfragt woran das hängen kann. (Habe die selbe Version schließlich auf dem PC problemlos zum laufen gebracht).

Habe mir das ak

[2021-06-04 08:09] piechade commented on #73
Can you give us more detail about it?
I'm using tasker to extract the code and post it using a webhook. But the Problem is that impf-bot never generate a code for me. Every time I get only this no appointment message box.

[2021-06-05 09:10] danieldaeschle commented on #36
Ich habe das gleiche Problem in meinem Docker container

[2021-06-05 09:11] danieldaeschle commented on #36
[code]

[2021-06-05 10:15] danieldaeschle commented on #36
Das hat es behoben für mich
[code]

[2021-06-05 20:02] alimazhar1991 opened #92 "Birthdate required for Vermittlungscode"
Hi All Together,

@TobseF thanks for the awesome bot. It looks like there is a little problem with the Vermittlungscode search. It now queries the date of birth field instead of Persons age. Is there any way to change this?

[2021-06-06 08:27] prok42 commented on #92
Example can be seen here (attachment)
[116117.app.html.zip](https://github.com/TobseF/impf-bot/files/6603843/116117.app.html.zip)

[2021-06-06 09:02] alimazhar1991 commented on #92
for a quick and dirty solution you can change: /src/main/kotlin/de/tfr/impf/config/Config.kt Line 59 to

`val personAge: String by lazyProperty()`

and /src/main/kotlin/de/tfr/impf/LocationPage.kt Line 43 to
` fun enterAge(age: String) {`
        `findBy("//input[@formcontrolname='birthdate']").sendKeys("" + age)`
 `   }`

the config. properties in /src/main/resources also needs to be updated with

[2021-06-06 09:14] alimazhar1991 commented on #92
Small update:
the Birthdate field seems to be localized, since im using chromium in the docker instance of Debian. (Which probably defaults to en-US) it shows me the field in MM/DD/YYYY Format

<img width="773" alt="Bildschirmfoto 2021-06-06 um 11 09 40" src="https://user-images.githubusercontent.com/36577124/120919084-0f6cc200-c6b8-11eb-8f55-937aa55e36d9.png">

this doesnt happen, if im using Chr

[2021-06-06 12:33] madrhr commented on #92
The problem is also that the Fiddler solution to get instant codes doesn't work anymore

[2021-06-06 12:37] madrhr commented on #5
@lk3de @chim0rin any solution or update for the fiddler solution due to change on the website with birthday ?

[2021-06-06 19:56] TobseF commented on #92
Fixed it with:
https://github.com/TobseF/impf-bot/commit/e34d36e3ebd773c59360b86287be1b55b3ad4b41
please report it it works - had no chance to test it 😅

ℹ Keep in mind, you have to update your config and add the `birthDate` field.

[2021-06-06 19:56] #92 closed, assigned to nobody

[2021-06-06 23:04] lk3de commented on #5
@marceldrhr Rules --> Automatic Breakpoints --> After Responses in Fiddler still seems to work in combination with the code in `OnBeforeResponse`. After the breakpoint is reached, just open the respective request in Fiddler and click the button to continue. I just tried it by myself and it worked. Without setting the breakpoint, it also didn't work. No idea why. Probably they changed something on

[2021-06-07 08:36] c0rrre commented on #86
is the docker image working for u guys? My docker is always complaining that it cant find the chromdriver

[2021-06-07 12:28] yandevelop commented on #5
Doesn't seem to work for me anyways. Tried with After Responses Breakpoint but it doesnt redirect me to the site where i enter email and phone.

[2021-06-07 19:43] ghac101 commented on #5
Seems

Scheint nicht mehr zu funktionieren... hat schon jemand nen fix gefunden? Oder nen Ansatzpunkt zum Suchen?

[2021-06-07 20:38] bluefish007 commented on #5
Da ich keine Codes mehr benötige, suche ich nun nicht weiter, aber ein Ansatzpunkt zum Suchen wäre folgender:

Nach der Eingabe des Geburtsdatums und dem Klick auf Termin suchen wird ein POST request an
`https://SERVERNUMMER-iz.impfterminservice.de/rest/suche/termincheck/alter` mit dem JSON `{"geburtsdatum":"2000-01-01","plz":"12345"}` geschickt und als Antwort kommt (wenn man das automatische Aus

[2021-06-07 22:09] lk3de commented on #5
Ich habe gerade eben bei einem Impfzentrum in Brandenburg (dort gibt es wenigstens noch Codes 😄) folgendes herausgefunden:

Klick auf "Nein, Anspruch prüfen" führt zu:
Request: `GET /rest/suche/termincheck?plz=16866&leistungsmerkmale=L920,L921,L922,L923`
Response Body: `{"termineVorhanden":true,"vorhandeneLeistungsmerkmale":["L920"]}`
`L920` entspricht BioNTech für 16-17-Jährige (siehe [Liste](htt

[2021-06-07 22:10] ghac101 commented on #5
Vielen Dank für die ausführliche Rückmeldung.
Konnte ich nachvollziehen, soweit bin ich dann jetzt auch gekommen :)

In Brandenburg - Penzlau ist gerade relativ frei, da kommt man bis zur Email / Handynummer Maske durch.
Hier wird dann folgendes zurückgegeben:

https://357-iz.impfterminservice.de/rest/suche/termincheck/alter
{"einzeltermineVorhanden":false,"terminpaareVorhanden":true}

Wenn ich da

[2021-06-08 03:36] tomacco81 commented on #86
With the following adjustments it works for me:
https://github.com/TobseF/impf-bot/issues/86#issuecomment-852974499 (DriverFactory.kt)
 https://github.com/TobseF/impf-bot/issues/36#issuecomment-855217377 (Dockerfile)

[2021-06-09 11:30] SchuhMichael commented on #86
Works for me, too.
I have built the image locally, after I've modified [DriverFactory.kt](https://github.com/TobseF/impf-bot/blob/master/src/main/kotlin/de/tfr/impf/selenium/DriverFactory.kt) following the advise given in https://github.com/TobseF/impf-bot/issues/86#issuecomment-852974499
Dockerfile unchanged.

[2021-06-13 18:13] jogi4github opened #94 "Not able to build on manjaro linux"
Hello,
acutally I'm not able to get the bot running. On Manjaro Linux the gradle build fails with:

[code]

When trying to use docker I get a different error message in the container:
[code]

So at the end both approaches does not work for me.

Any ideas are warmly welcome :-)

Cheers
Jörg

[2021-06-17 16:50] error-empire opened #95 "Automatische Buchung scheint gebrochen: "element click intercepted: Element ... is not clickable at point (331, 821)""
Heute habe ich mal wieder den sehr guten Bot für einen Bekannten angeworfen, vorher noch Update von e34d36e3ebd773c59360b86287be1b55b3ad4b41 auf 7234e13c496fdcc232cad53f467b59652073fc83, neu gebaut und gestartet.
Im laufe des Nachmittags hatte ich gleich die Möglichkeit einen Termin zu buchen, allerdings gab es folgende Ausgabe auf der Konsole:
[code]
Ich vermute, dass an der Seite sich irgendwas

[2021-06-18 08:43] error-empire commented on #95
Okay, kein Problem des Impf-Bots. Im Namen war ein Akzentzeichen, das mag aber die Seite nicht und zeigt eine entsprechende Fehlermeldung an. Dadurch ist der Button zur Buchung nicht klickbar.

Kann daher zu, Screenshots zum Debuggen was die Ursache  ist, hätten allerdings es sehr vereinfacht.

[2021-06-20 18:08] healther opened #96 "Bot does not correctly identify the second "Keine freien Termine" screen"
It seems that the bot does not correctly identify the second option where one can receive "Es wurden keine freien Termine in Ihrer Region gefunden. Bitte probieren Sie es später erneut." case.

The screenshot below is accompanied by
[code]
in the log.

![Screenshot 2021-06-20 at 20 01 05](https://user-images.githubusercontent.com/4048699/122683858-412a7080-d202-11eb-9caa-b94453e6b496.png)

It seem

[2021-06-23 11:30] tharts opened #97 "Chromedriver fails with error"
Trying to run the impf-bot fails with the error below. Any ideas how to solve it?
System is RPi 4 Debian Buster.

23.06 11:17:43 INFO io.github.bonigarcia.wdm.WebDriverManager - Reading https://chromedriver.storage.googleapis.com/ to seek chromedriver
23.06 11:17:45 INFO io.github.bonigarcia.wdm.online.Downloader - Downloading https://chromedriver.storage.googleapis.com/90.0.4430.212/chromedriver_

[2021-06-24 21:53] #97 closed, assigned to nobody

[2021-10-29 12:27] SanJSp opened #98 "Open Source License"
As a developer, I'd like to re-use some of this code in my own personal projects and share those. For this, I would love to not interfere with any property rights and therefore I'd love to see an open-source license applied to this project.

Have you ever thought about it?

[2021-10-29 20:03] TobseF commented on #98
Good point. I'm sure this code was already copied and used several times - without asking. In my opinion - sharing is caring and I want to make it as easy as possible to reuse any of my code. This is why I've chosen the https://unlicense.org.

📜 I just updated the info:
https://github.com/TobseF/impf-bot/commit/70917672af9b3ac05b5c3b0bee02bae482ecb6fd

Thanks for the hint!

[2021-10-29 20:03] #98 closed, assigned to nobody